body
{
    font-family: "Lucida Console", Monaco, monospace; 
}

input
{
    font-family: "Lucida Console", Monaco, monospace; 
}

input[type="text"]
{
    margin-bottom: .5em;
    height: 1.5em;
    width: 15em;
}

input[type="button"]
{
    height: 2em;
    width: 15.5em;
    overflow: hidden;
}

select, option
{
    height: 2em;
    width: 15.5em;
}

.firstParent input[type="text"]
{
    margin-top: 2em;
}

.GenerationBox
{
    float:left;
    margin-right:2.5em;
    margin-bottom: 3em;
}

#GenerationButtonBox, #finalButtonBox
{
    padding-top: 3.5em;
}

#settingsBox
{
    margin:0;
    padding:0;
    clear: both;
    width:100%;
}


svg
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.svgLine
{
    z-index: 0;
    stroke:rgb(0,0,0);
    stroke-width:5;
}

.svgRect
{
    z-index: 1;
    fill:rgb(255,255,255);
    stroke-width:3;
    stroke:rgb(0,0,0)
}

.svgText
{
    z-index: 2;
}

#treeBox
{
    margin:0;
    padding:0;
    clear: both;
    width:100%;
}